@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Outfit', sans-serif;
        background-color: hsl(212, 45%, 89%);
    }

    p {
        font-size: 15px;
        color: hsl(220, 15%, 55%);
    }

    .context {
        padding: 1rem 1rem 2rem 1rem;
        margin: 15vh auto;
        border-radius: 20px;
        width: fit-content;
        background-color: white;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .context h1 {
        margin-top: 1rem;
        font-weight: 700;
        font-size: 22px;
        line-height: 1.5rem;
    }

    .context p {
        margin-top: 1rem;
        line-height: 1rem;
    }

    .qr {
        width: 20rem;
        border-radius: 10px;
    }

    .attribution {
        text-align: center;
    }

    @media (max-width: 600px){

        .context {
            margin: 13vh auto;
        }

        .qr {
            width: 18rem;
        }
    }